{% extends '_base.html' %}

{%load static%}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body"><div>
                <h4 class="card-title">Igor Caio Vieira Malheiro</h4>
                <div style="float: left">
                    <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}" height="150" >
                
                </div>
                <div style="text-align: justify;">
                Graduado em Psicologia pela Faculdade de Tecnologia e Ciências (2009) e 
                pós-graduado em Saúde Mental com ênfase em Caps pela Pós-Grad (2011). Foi
                aluno especial do programa de Mestrado em Educação e Contemporaneidade da
                UNEB (Universidade do Estado da Bahia) (2014). É servidor público federal
                ocupando o cargo de psicólogo do Instituto Federal de Educação, Ciência e
                Tecnologia Baiano, desde 2011. É professor dos cursos de graduação em Psicologia,
                Administração de empresas e Ciências contábeis da Faculdade Guanambi desde 2010,
                onde também atua como orientador em trabalhos de conclusão de curso nas linhas de
                psicanálise e educação. Ministrou aulas em cursos de pós-graduação (especialização)
                em Saúde Mental e áreas afins. Dirigiu o grupo de estudos SEP (Subjetivação Estudos 
                Psicanalíticos).Participa atualmente do LAEPP (Laboratório de Estudos e Pesquisa em 
                Psicanálise). Tem experiência clínica e educacional em Psicologia e Psicanálise.
                Graduado em Psicologia pela Faculdade de Tecnologia e Ciências (2009) e 
                pós-graduado em Saúde Mental com ênfase em Caps pela Pós-Grad (2011). Foi
                aluno especial do programa de Mestrado em Educação e Contemporaneidade da
                UNEB (Universidade do Estado da Bahia) (2014). É servidor público federal
                ocupando o cargo de psicólogo do Instituto Federal de Educação, Ciência e
                Tecnologia Baiano, desde 2011. É professor dos cursos de graduação em Psicologia,
                Administração de empresas e Ciências contábeis da Faculdade Guanambi desde 2010,
                onde também atua como orientador em trabalhos de conclusão de curso nas linhas de
                psicanálise e educação. Ministrou aulas em cursos de pós-graduação (especialização)
                em Saúde Mental e áreas afins. Dirigiu o grupo de estudos SEP (Subjetivação Estudos 
                Psicanalíticos).Participa atualmente do LAEPP (Laboratório de Estudos e Pesquisa em 
                Psicanálise). Tem experiência clínica e educacional em Psicologia e Psicanálise.
                <br>
                <br>
                Email: email@gmail.com
            
                </div>
                </div>
                
                </div>
        </div>
    </div>
</div>


{% endblock %}