{% extends '_base.html' %}

{% load static %}

{% block content %}
<body>
  <style>
    h1 {
      color: #4e73df;
    }
    h4 {
      color: #4e73df;
    }
    h5 {
      color: #4e73df;
    }
    </style>
  <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body"><div>
              <h1>Como identificar uma crise ansiosa</h1>
              <br>
              <table  width="100%"cellpadding="10">
                <tr>
                  
                  <div style="text-align: justify;">
                    Muitos são os sintomas de alguém passando por uma crise de ansiedade, entre eles há:
                  </div>
                  <td width="50%" valign="top">
                    <h5 class="card-title">Coração acelerado</h5>
                    <div style="text-align: justify;">
                      No momento de uma crise, você sentirá seu coração acelerado e até mesmo uma dor no peito ou em outras partes do corpo. 
                
                    </div>
                    <br>
                    <h5 class="card-title">Sente que vai desmaiar</h5>
                    <div style="text-align: justify;">
                      O desmaio raramente ocorre, porém a existe uma grande sensação de perder o controle do corpo, visão turva e joelhos cedendo para impossibilitar o deslocamento são exemplos deste.
                
                    </div>
                    <br>
                    <h5 class="card-title">Sensação de morte</h5>
                    <div style="text-align: justify;">
                      Você sente que pode morrer a qualquer instante mesmo que não haja nenhuma ameaça aparente a sua vida. 
                    </div>
                    <br>
                    <h5 class="card-title">Enjoos </h5>
                    <div style="text-align: justify;">
                      Sensações de ânsia são comuns, mas na maioria das vezes não se concretizam. O desconforto no estomago pode se estender por longos minutos.
                    </div>
                  <br>
                  </td>
                  <td width="50%" valign="top">
                        
                  <h5 class="card-title">Medo extremo </h5>
                  <div style="text-align: justify;">
                    Um grande medo toma conta do indivíduo e na maioria dos casos, não se consegue explicar o porquê dele. Como os pensamentos e sentimentos são exagerados, a pessoa pode também agir de forma atípica.
                  </div>
                  
                    <br>
                    
                <div style="text-align:right;">
                  <img class="img-profile" src="{% static 'img/informa.png' %}" height="250" >
              
              </div>
                  </td> 
                  <br>
                  </tr>
                  <tr>
                  
                  <td width="50%" valign="top">
                    <h4 class="card-title">Como agir durante uma crise</h4>
                    <h5 class="card-title">Tente não pensar na situação</h5>
                    <div style="text-align: justify;">
                      Distancie seu pensamento o máximo possível da situação, para que assim a preocupação excessiva não tome conta dos seus pensamentos. Foque sua atenção em algo ao seu redor, alguma cor, atividade ou seu celular. Caso essas crises passem a acontecer com frequência, procure ter um objeto de apoio/conforto. 
                    </div>
                    <br>
                    <h5 class="card-title">Respire fundo</h5>
                    <div style="text-align: justify;">
                      Foque em ter controle da sua respiração, pois ao respirar profundamente, será passada uma sensação de paz tranquilidade através do ato de respirar. Esses exercícios são importantes, não só em uma crise, mas ao longo do dia a dia. 
                    </div>
                    <br>
                    </td>
                    <td width="50%" valign="top">
                      <Br>
                      <br>
                  <h5 class="card-title">Aceite </h5>
                    <div style="text-align: justify;">
                      Pode parecer estranho ler “aceite sua crise de ansiedade”, porém, aceitar que está passando por uma crise ao invés de se desesperar com ela faz com que você passe a ter controle da situação e assim possa se acalmar. 
                    </div>
                      <br>
        
                  <h5 class="card-title">Visualize coisas boas</h5>
                    <div style="text-align: justify;">
                      Use a sua imaginação, crie espaços onde se sinta seguro, relaxado e bem, busque criar locais e espaços que despertem sua felicidade e os bons sentimentos. Você pode também visualizar momentos felizes que foram marcantes na sua vida, tente se imagine neles.
                    </div>
                    
                  </td> 
                </tr>            
        </table>
      </div>
    </div>
        </div>
    </div></div>
    <br>
    <br>
    <br>
    <br>
</body>
{% endblock %}

