{% extends '_base.html' %}

{% load static %}

{% block content %}
<body>
  <style>
    h1 {
      color: #4e73df;
    }
    </style>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <img src=" {% static 'img/home1.png' %}"style="float: right" width="500" alt="...">
            <br>
            <div class="col-lg-12">
              <div class="p-10">
                <br>
                
                <br>
                <div class="p-3">
                <h1>Setor Psicológico do Instituto Federal</h1>
                <br>
                <h5>Agende sua consulta com um psicologo do instituto a qualquer hora com a plataforma</h5>
                
              </div>
                <td>
                  <div class="text-center">
                  <a href="/consultas/" >
                      <button type="button" class="btn mb-1 btn-primary">
                          Agendar Consulta <span class="btn-icon-right"></span>
                       </button>
                  </a>
                </div>
               </td>
                <table  width="100%"cellpadding="10">
                  <tr>
                  <td width="50%" valign="top">
                    <div style="text-align: justify;">
                    O site do setor psicológico do Instituto Federal Baiano Campus Guanambi surgiu com a necessidade de aprimoramento do setor. Visto a falta de conhecimento dos discentes sobre os benefícios oferecidos, esse site visa oferecer de forma organizada a disponibilidade de agendamento de consultas psicologicas, assim como informações sobre o departamento e saúde mental.
                  </div>
                </td>

                    <td width="50%" valign="top">
                      Caso necessário, busque orientações na sala do psicologo.
                      <br>
                      Localização: Pavilhão I, em frente a biblioteca, na última porta
                    </td>

                  </tr>
                </table>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
    <br>
    <br>
    <br>
    <br>
</body>
{% endblock %}